<h3>USUARIOS</h3>
<ul>
  <li *ngFor="let user of listUsers">
    {{ user.name }}
    <button (click)="getUser(user.id)">VER</button>
    <button (click)="putUser(user)">MMODIFICAR</button>
    <button (click)="deleteUser(user.id)">BORRAR</button>
    <button (click)="getUserAlbum(user.id)">Catálogo</button>
    <button (click)="getUserTodo(user.id)">TODOS</button>
    <button (click)="getUserPosts(user.id)">Post</button>
    <button (click)="getUserComments(user.id)">Comentarios</button>
  </li>
</ul>
<button (click)="postUser()">Alta usuario</button>

<h3>POSTS</h3>
<ul>
  <li *ngFor="let post of listPosts">
    {{ post.title }}
    <button (click)="getPost(post.id)">VER</button>
    <!--<button (click)="putUser(user)">MMODIFICAR</button>
    <button (click)="deleteUser(user.id)">BORRAR</button>
    <button (click)="getUserAlbum(user.id)">Catálogo</button>
    <button (click)="getUserTodo(user.id)">TODOS</button>
    <button (click)="getUserPosts(user.id)">Post</button>
    <button (click)="getUserComments(user.id)">Comentarios</button> -->
  </li>
</ul>
