<h3>USUARIOS</h3>
<button (click)="filtrar()">Buscar</button>
<button (click)="postUser()">Alta usuario</button>
<ul>
  <li *ngFor="let user of listUsers">
    {{ user.name }}
    <button (click)="getUser(user.id)">VER</button>
    <button (click)="putUser(user)">MMODIFICAR</button>
    <button (click)="deleteUser(user.id)">BORRAR</button>
    <button (click)="getUserAlbum(user.id)">Catálogo</button>
    <button (click)="getUserTodo(user.id)">TODOS</button>
    <button (click)="getUserPosts(user.id)">Post</button>
    <button (click)="getUserComments(user.id)">Comentarios</button>
  </li>
</ul>

